.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.section div {
  max-width: 100%;
}
